<p>update-form-dialog works!</p>
<div mat-dialog-content>
    <form [formGroup]="formInstance">
      <div>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>first Name *</mat-label>
          <input matInput type="text" 
          name="firstName" formControlName="firstName">
          <mat-error *ngIf="
          formInstance.controls['firstName']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>
  
      <div class="mt-5">
        <mat-form-field class="fullWidth" appearance="outline">         
          <mat-label> Last Name *</mat-label>
          <input matInput type="text" name="lastName" formControlName="lastName" />
          <mat-error *ngIf="
          formInstance.controls['lastName']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>

      <div class="mt-5">
        <mat-form-field class="fullWidth" appearance="outline">       
         <mat-label>Emai *</mat-label>
          <input matInput type="text" name="email" formControlName="email" />
          <mat-error *ngIf="
          formInstance.controls['email']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>

      
  
     <!-- <div class="mt-5">  
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Job *</mat-label>
          <mat-select name="job" formControlName="job">
            <mat-option value="Software Developer">Software Developer</mat-option>
            <mat-option value="Physician">Physician</mat-option>
            <mat-option value="Dentist">Dentist</mat-option>
            <mat-option value="Nurse">Nurse</mat-option>
          </mat-select>
          <mat-error *ngIf="formInstance.controls['job']?.errors?.required">field required
          </mat-error>
        </mat-form-field>
  
      </div>-->
    </form>
  </div>
  
  <div class="mt-5" mat-dialog-actions>
    <button mat-raised-button color="primary" 
    [disabled]="formInstance.dirty && formInstance.errors" (click)="save()"
      cdkFocusInitial>Yes</button>
    <button mat-raised-button mat-dialog-close>No</button>
  
  </div>
  