<style>
    .cell  { padding: 20px; border: 0px solid #999;width: 10px; }

    .table        { display: table }
    .table .row   { display: table-row; }
    .table .cell  { display: table-cell; }

    .flexbox       { display: flex; flex-direction: column; }
    .flexbox .row  { display: flex; }
</style>



<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" > 
    <div class="card">
        <div class="card-header" style="text-align:center;height:1.5cm;">
            <h1 > Autoclub-data-download</h1>
        </div>
    </div> 
    <br>
    <div class="table">
        <div class="row">
            <div class="cell" style="background-color: #6c757d;color: #fff;">
                <label >Vehicle age greater than</label> &nbsp;&nbsp;
                <select style="background-color: #a2acb6;color: #fff;"  name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="selectedQuantity">
                    <option *ngFor="let option of options" [value]="option" >{{option}}</option>
                </select> 
            </div>            
            <div class="cell"> </div>                      
            <div class="cell"> </div> 
            <div class="cell"> </div> 
            <div class="cell"> </div> 
            <div class="cell"> </div>   
            <div class="cell"> </div> 
            <div class="cell"> </div> 
            <div class="cell"> </div> 
            <div class="cell"> 
                <div #alert class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf=ishide style="background-color: #2acf82;color:#6c757d;">
                    <button type="button" class="close" aria-label="Close" >
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{messageNotific}}</strong>
                  </div>
            </div>     
        </div> 

        <div class="cell">
            <input type = "submit" value = "Download" class="btn btn-secondary" >
        </div>
       
              

       
           
    </div>
    <br>
    <br>
    <br>
    <div>
        
    </div>
    
   
    
   
  </form>
